body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todos {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 50px;
	height: 510px !important;
}

li {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.done {
	text-decoration: line-through;
}

#form {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.buttons {
	margin-top: 10px;
}

.margin-top {
	margin-top: 10px;
}

.btn-div {
	margin-left: auto;
	display: flex;
}

.btn-del:first {
	margin-left: 10px !important;
}

.btn-del {
	margin-left: 10px !important;
}

.nothing {
	text-align: center;
	margin-top: 50px;
}

#btns {
	display: flex;
	height: 60px;
}

#text {
	letter-spacing: 2px;
	font-size: 20px;
}

.pagination {
	margin: 2px;
}

.MuiButton-sizeLarge {
	width: 50% !important;
}

.MuiContainer-root {
	margin-top: 70px;
}

@media only screen and (max-width: 834px) {
	#form {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

	#text {
		margin-left: 0 !important;
		font-size: 13px;
	}
	#container {
		margin: 0;
		padding: 0;
	}
	.btn-del {
		margin: 0 !important;
		padding: 15 !important;
	}
	.btn-div {
		display: flex;
		justify-content: flex-end;
		padding: 0;
		width: 32%;
	}
	.MuiButton-startIcon .MuiButton-iconSizeSmall {
		margin-left: 0 !important;
	}
	.MuiButton-startIcon {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	#text {
		letter-spacing: 0;
	}
}

@media only screen and (max-width: 446px) {
	#text {
		font-size: 11px;
		margin-left: 0 !important;
	}
	.MuiButton-containedSizeSmall {
		font-size: 0 !important;
	}
	.mainpag {
		margin-right: auto !important;
		padding-left: 0 !important;
	}
	.MuiButton-label {
		font-size: 0rem;
	}
	.MuiButton-containedSizeLarge > .MuiButton-label {
		font-size: 0.7rem;
	}
	.MuiButton-textPrimary > .MuiButton-label {
		font-size: 0.7rem;
	}
	.MuiButton-sizeSmall {
		min-width: 0px !important;
		margin-left: 5px !important;
	}
	.todos {
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		margin-top: 10px;
		height: 495px !important;
	}

	li {
		margin-top: 7px;
	}
	.MuiButton-sizeSmall > .MuiButton-label {
		font-size: 0 !important;
	}
	.MuiButton-sizeLarge > .MuiButton-label {
		font-size: 0.7rem !important;
	}
	.MuiButton-outlinedPrimary > .MuiButton-label {
		font-size: 0.7rem !important;
	}
}
