body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 50px;
}

li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.done {
  text-decoration: line-through;
}

#form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.buttons {
  margin-top: 10px;
}
.btn {
  width: 100%;
}

.margin-top {
  margin-top: 10px;
}

.btn-div {
  margin-left: auto;
  display: flex;
}

.btn-del {
  margin-left: 10px !important;
}

.nothing {
  text-align: center;
  margin-top: 50px;
}
